body {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: blue;
    /*margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    width: 400px;
    height:150px ;*/
}
h2{
    color:rgb(10, 10, 10);
}
h3{
    color:#e14c2a
}
p{
    color:black;
    font-size: 16px;
}
img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #ff5733;
    border: none;
}

/* Efecto simple al pasar el mouse */
.btn-primary:hover {
    background-color: #e14c2a;
}

/* Pantallas pequeñas (teléfonos) */
@media (max-width: 600px) {
 body {
 background-color: lightblue;
 font-size: 14px;
 }
}
/* Pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
 body {
 background-color: lightgreen;
 font-size: 16px;
 }
}
/* Pantallas grandes (escritorios) */
@media (min-width: 1025px) {
 body {
 background-color: lightyellow;
 font-size: 18px;
 }
}

