body {
    font-family: Arial;
    padding: 20px;
    background-color: #c1dfff;
}

button {
    background-color: #4da3ff;
    color: white;
    border: #4da3ff;
    padding: 10px 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2d8cff;
    transform: scale(1.05);
}

input {
    padding: 8px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #aaa;;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.galeria img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
    border-radius: 8px;
}

.galeria img:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}
.galeria img.selected {
    border: 4px solid #2d8cff;
    box-shadow: 0px 0px 10px #2d8cff;
}